<div class="panel panel-primary">
    <div class="panel-heading">Change password</div>
    <div class="panel-body">
        {% include 'util/messages.twig' %}
        <form action="{{ urlFor('change-password-post') }}" method="post" id="change-password-form">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
                <input class="form-control" type="password" name="old-password" placeholder="old password">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
                <input class="form-control" type="password" name="new-password" placeholder="new password">
            </div>
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-fw fa-key"></i></span>
                <input class="form-control" type="password" name="repeat-password" placeholder="repeat password">
            </div>
            {% include 'util/csrf.twig' %}
            <button class="btn btn-block btn-lg btn-primary">change password</button>
        </form>
    </div>
</div>