<div class="panel panel-primary">
    <div class="panel-heading">recovery</div>
    <div class="panel-body">
        {% include 'util/messages.twig' %}
        <form action="{{ urlFor('recovery-password-post') }}" method="post" id="recovery-password-form">
            <div class="input-group input-group-lg">
                <span class="input-group-addon"><i class="fa fa-fw fa-user"></i></span>
                <input class="form-control" type="text" name="username" placeholder="username">
            </div>

            {% include 'util/form/captcha.twig' %}
            {% include 'util/csrf.twig' %}
            <button class="btn btn-primary btn-lg btn-block">recovery</button>
        </form>
    </div>
</div>